<div *ngIf="hero">
    <!-- <div>
        <span>{{(hero|async)?.name}}</span>
    </div> -->
    <h2>{{hero.name |uppercase}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div>
        <label>name:
            <input class="name" [(ngModel)]="hero.name " placeholder="name" />
        </label>
    </div>
    <div>
        <label>description:
            <input class="description" [(ngModel)]="hero.description" placeholder="description">
        </label>
    </div>

</div>

<button (click)="goBack()">go back</button>
<button (click)="save()">save</button>